.edu {
  border-bottom: 2px solid white;
  width: 50%;
  margin-left: 10px;
}

#edu-form {
  display: grid; 
  gap: 10px;
  margin-left: 10px;
}

.inpt-edu {
  width: 800px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h3 {
  /* border: 2px solid white; */
  margin-bottom: 0px;
  margin-top: 0px;
}

.save-edu {
  margin-left: 10px;
  width: 45%;
  background-color: #71797E
}

.edit-edu {
  position: relative;
  left: 620px;
  bottom: 50px;
  width: 45%;
  background-color: #71797E;
}