.prac-header {
  border-bottom: 2px solid white;
  width: 50%;
  margin-left: 10px;
}

#prac-form {
  display: grid;
  gap: 10px;
  margin-left: 10px;
}

.inpt-prac {
  width: 800px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.save-prac {
  margin-left: 10px;
  width: 45%;
  background-color: #71797E
}

.edit-prac {
  position: relative;
  left: 620px;
  bottom: 50px;
  width: 45%;
  background-color: #71797E;
}