header {
  border-bottom: 2px solid black;
  width: 400px;
}


.preview {
  display: grid;
  gap: 60px;
}


/* 
.edu {
  border-bottom: 2px solid black;
} */
.about-header {
  margin-bottom: 0px;
}

.general-cv {
  /* border-bottom: 2px solid black; */
  display: grid;
  gap: 10px;
}

/* .section-break {
  border: 2px dotted black;
  margin-top: 0px;
  margin-bottom: 0px;
} */