body {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-rows: auto; */
}

/* .resume {
  grid-column: 2;
  color: red;
  background-color: white;
} */

/* .container {
  color: blue;
  grid-column: 1;
} */